<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="vqNetTcpBinding" transferMode="Buffered" listenBacklog="500" maxBufferPoolSize="30000000" maxBufferSize="30000000" maxConnections="500" maxReceivedMessageSize="30000000">
					<readerQuotas maxDepth="32" maxStringContentLength="30000000" maxArrayLength="30000000" maxBytesPerRead="30000000" maxNameTableCharCount="30000000" />
					<reliableSession inactivityTimeout="00:01:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="NetTcpBinding_IGame" address="net.tcp://localhost:5101/GameSvc" binding="netTcpBinding" bindingConfiguration="vqNetTcpBinding" contract="VonQuest.Interface.IGame" />
		</client>
	</system.serviceModel>
</configuration>